body {
  margin: 0;
  line-height: normal;
  height: 100vh;
  padding: 0;
  background-color: #F1F4F9;
}
:root {
  --font-sf-pro-display: "SF Pro Display";

  --font-size-base: 16px;
  --font-size-sm: 14px;

  --color-gray-100: #091336;
  --color-gray-200: rgba(255, 255, 255, 0.6);
  --ui-accent1: #005ff8;
  --color-white: #fff;
  --ui-accent: #002cfb;
  --ui-yellow: #ffd500;
  --color-gold-100: #edda01;
  --color-lavender: rgba(216, 228, 251, 0.32);
  --br-9xs: 4px;
}
